<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6" style="margin-top: 15%">
      <div class="card border-info">
        <div class="card-header">Signup</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img width="128px" src="https://avatars1.githubusercontent.com/u/10853305?s=460&v=4">
            </div>
            <div class="col-md-8">

                <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
                <button  class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.sendPasswordResetEmail(userEmail.value)">Login</button> 

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>